spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/jpashop
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
#        show_sql: true -> System.out에 하이버네이트 실행 SQL을 남김
#        로거를 통해 하이버네이트 실행 SQL을 남기는 옵션이 있으므로 필요 X
        format_sql: true

logging.level:
  org.hibernate.SQL: debug